body{
    background-color: white;
    color: rgb(32, 36, 41);
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.4;
    letter-spacing: normal;
    width: 100%;
}

.signin-screen{
    --contents-min-height: auto;
    position: relative;
    margin: 0px auto 38px;
    border: none;
    border-radius: 13px;
    background-color: white;
    height: var(--contents-min-height,100vh);
    min-height: 880px;}

.signin-image{
    height: 102px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 4.8rem;
    margin-top: 59px;
    margin-bottom: 16px;}

.signin-image-main{
    margin-bottom: 0px;
}

.signin-image-main::after{
    content: "";
    display: block;
    clear: both;
}

@media screen and (min-width: 768px) {
    .signin-box{
        --contents-horizontal-padding: 77px
        
    }
}

.signin-box{
    --header-height: 178px;
    --contents-horizontal-padding: 38px;
    padding: 0 var(--contents-horizontal-padding,38px);
    height: var(--contents-min-height,auto);}

.signin-header{
    padding: 0px;
    margin: 0px 0px 32px;
    font-size: 42px;
    font-weight: bold;
    color: rgb(32, 36, 41);
    line-height: 1.4;
    white-space: pre-line;
}

.form-box{
    width: 100%;
    display: flex;
    flex-direction: column;}

.form-label{
    height: 25.6px;
    font-weight: 500;
    font-size: 20.8px;
    color: rgb(109, 109, 109)}

.text-box{
    width: 100%;
    margin-top: 3.2px;
    position: relative;
    border-bottom: 1.6px solid rgb(238, 238, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;}

.text-input{
    box-sizing: border-box;
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: 0px none;
    height: 67.2px;
    color: rgb(89, 95, 99);
    outline: none;
    font-weight: 500;
    font-size: 24px;
    padding: 0px 3.2px;
    word-break: keep-all;}

.delete-button{
    height: 26px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none; width: 22px;
    background-image: url(/res/image/login_delete.svg);
    opacity: 1;
    transition: all 0.2s ease 0s;}

.email-check-area{
    margin-top: 6.4px;
    display: flex;
    flex-direction: column;}

.email-check-message{
    visibility: hidden;
    display: inline-flex;
    margin-top: 6.4px;
    height: 25.6px;
    font-weight: 400;
    font-size: 19.2px;
    color: rgb(253, 91, 21);}

@media screen and (min-width: 768px) {
    .signin-button-area{
        width: calc(100% - 156.8px);
    }
}

.signin-button-area{
    position: absolute;
    bottom: 32px;
    text-align: center;
    width: calc(100% - 230px);}

.continue-login-button{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    border: 0px;
    box-sizing: border-box;
    border-radius: 6.4px;
    font-size: 25.6px;
    font-weight: 700;
    cursor: pointer;
    background: linear-gradient(90deg, rgb(8, 204, 202) 0%, rgb(24, 231, 156) 100%);
    color: white;
    }

.continue-login-button::before{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.12);
    opacity: 0;
    transition: all 0.5s ease 0s;
    content: "";}

    .button-text{
        z-index: 10;
    }

.text-input-line::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1.6px;
    width: 0px;
    height: 3.2px;
    background: linear-gradient(90deg, rgb(8, 204, 202) 0%, rgb(24, 231, 156) 100%);
    transition: all 0.2s ease 0s;
}

.signin-password-area{
    margin-bottom: 16px;
}

.show-password-button{
    width: 28.8px;
    height: 25.6px;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    margin-top: 1.6px;
    margin-left: 9.6px;
    background-image: url(/res/image/unknown.svg);
    cursor: pointer;
}

.password-input-line{
    border: 0px;
}

.password-input-line::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1.6px;
    width: 0px;
    height: 3.2px;
    background: rgb(253, 91, 21);
    transition: all 0.2s ease 0s;
}

.password-check-area{
    margin-top: 6.4px;
    display: flex;
    flex-direction: column;
}

.password-check-message{
    visibility: hidden;
    display: inline-flex;
    margin-top: 6.4px;
    height: 25.6px;
    font-weight: 400;
    font-size: 19.2px;
    color: rgb(253, 91, 21);
}

.password-check-rule{
    display: inline-flex;
    margin-top: 6.4px;
    height: 25.6px;
    font-weight: 400;
    font-size: 19.2px;
    color: rgb(135, 142, 150);
}


.signin-subheader{
    padding: 0px;
    margin: 0px 0px 2rem;
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(32, 36, 41);
    line-height: 1.4;
    white-space: pre-line;
}



.return-previous-page{
    margin-top: 2rem;
    text-decoration-line: underline;
    font-weight: 600;
    border: 0px;
    color: rgb(142, 142, 142);
    cursor: pointer;
}



@media screen and (min-width: 768px){
    .signin-header {
        font-size: 2.6rem;
    }
}

@media screen and (min-width: 768px){
    .signin-subheader {
        font-size: 1.8rem;
    }
}

.signin-nickname-area{
    margin-top: 3rem;
}

@media screen and (min-width: 768px) {
        body {
            background-color: rgb(250, 251, 252);
        }

        .signin-screen {
            padding: 0px;
            height: auto;
            }
    
        .signin-screen {
            margin: 38px auto;
            padding: 0px 77px;
            width: 768px;
            border: 1px solid rgb(245, 247, 250);
        }
    }